@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}
<style>
    #body {
        background: linear-gradient(#efeeef,#f47503);

    }
</style>
<h1 class="textSection" style="font-family:'palintino-linotype';">Welcome</h1>
<h2 class="textSection" style="font-family:'palintino-linotype'; text-align:center;">We're Bishop Fine <span style="color:aqua;"> Plumbing</span>. A full service Water Heater and Garbage Disposal plumbing company.</h2>
<h2 style="font-family:'palintino-linotype'; text-align:center;"><i>Commited to Phoenixs' finest residents.</i></h2>
<div style="text-align:center;">
    <img src="~/Images/Kent2.jpg" alt="Kent, Bishop Fine Plumbing, Water Heater & Garbage Disposal: Repair, Replacement, Installation" style=" max-width:900px; width:100%; border: 2px solid #ccc; background-color: #eee; border-radius: 5px;" />
</div>
<p style="text-align:center"><i><b>Kent Bishop, Journymen Plumber, License #26805</b></i></p>
<p class=" textSection" >Kent is Union trained with five years of technical school by the United Association of Plumbers and Pipe fitters. United States Department of Labor certified journeyman plumber since 1978, with 40+ years of experience, servicing the finest homes.</p>
<p class="textSection">
    Kent started his career doing industrial plumbing for his fathers plumbing company. These prestigious projects included hospitals, hotels, restaurants, gas stations, commercial buildings. Kent decided to leave the family business and pursue a job with the nations largest mechanical contractor working on coal power plants in Missouri and a nuclear power plant in Illinois. Soon after that Kent moved to California, opening up his own Plumbing company specializing in custom homes. For the last 5 years Kent has focused his business on fine home remodel and repair. Now Kent has focused his attention entirely on fast, reliable, and affordable water heater replacement and repair. As well as, Garbage disposal services.
    <br />
    <br />
    To further his service reliability and speed. He has taken on an Apprentice, Aaron; who for the last 2 years has learned the trade.
</p>
<div style="text-align:center;">
    <img src="~/Images/Aaron2.png" alt="Aaron, Bishop Fine Plumbing, Water Heater & Garbage Disposal: Repair, Replacement, Installation style" style=" max-width:900px; width:100%; border: 2px solid #ccc;
        background-color: #eee;
        border-radius: 5px;" />
    <p style="text-align:center"><i><b>Aaron Padberg, Apprentice Plumber</b></i></p>
</div>

<p class="textSection" >Bishop Fine <span style="color:aqua;"> Plumbing </span> specializes in full service water heater repair, replacement and installation. We proudly service the Greater Phoenix area including Mesa, Gilbert, Scottsdale and Tempe. We are licensed and offer residential water heaters. Since 1978, Bishop Fine Plumbing has been a professional in all areas of water heater repair and replacement while offering the highest quality work at the lowest price. Our years of experience plus pride in our workmanship is what made us choose Rheem Water Heaters as our exclusive Water Heater for new installations.</p>
<p class="textSection" >Kent Bishop, Fine Plumbing Service, is a top-tier full service plumbing company dedicated to Phoenixs' finest residents. We offer professional plumbing technical services at affordable prices on all types of plumbing repairs. You will be satisfied with our fast, clean-cut expert plumbing technicians and our quality plumbing services. No job is too small so call for your free in-home estimate today.</p>
<p class="textSection" >
    <i>
        Doesn't You Home Deserve A Trained Licensed Journeyman Plumber?
        Phoenix journeyman plumbing license #26805
    </i>
</p>

@*<h1 class="textSection" style="font-family:'Palatino Linotype';">Testimonials</h1>*@
