@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
    <meta name="description" content="Bishop Fine Plumbing specializes in full service water heater repair, replacement and installation. We proudly service the Greater Phoenix area including Mesa, Gilbert, Scottsdale and Tempe.">
    <meta name="keywords" content="water heater replacement, Water Heater Leaking, water heater installation, water heater repair, plumber, plumbing, plumber near me ">
    <meta name="author" content="Taylor Bishop" />
          }
    <style>
        #body {
            background-image: url('Images/cloudbackground.jpeg');
            background-size: cover;
        }
    </style>
    <div>


        <h1 class="textSection"> CONTACT US</h1>
        <h2>Call Bishop Fine  <span style="color:aqua;"> Plumbing </span> if you need a price quote, have a question, or need a cost estimate on any service, electric water heater repair, gas water heater repair, new faucet installation, toilet repair, or garbage disposal install.</h2>
        <hr />
        <div class="aboutrow" style="display:inline-block;">
            <div class="aboutcolumn" style=" float:left; max-width:960px; ">
                <p class="textSection">
                    Bishop Fine   <span style="color:aqua;"> Plumbing </span> is a leading provider of plumbing service and repair.
                </p>
                <p class="textSection">
                    Committed to  offer professional plumbing technical services at affordable prices on all types of plumbing repairs.
                </p>
                <p class="textSection" style="font-weight:bold; ">Ask a Bishop Fine Plumbing expert how we can help:</p>
                <ul>
                    <li><p class="textSection">Water Heater Repair, Installation &amp; Replacement.</p></li>
                    <li><p class="textSection">Garbage Disposal Repair, Installation &amp; Replacement</p></li>
                    <li>
                        <p class="textSection">
                            Toilet Repair, Installation &amp; Replacement
                        </p>
                    </li>
                    <li>
                        <p class="textSection">
                            Kitchen/Bathroom Faucet Repair, Installation &amp; Replacement
                        </p>
                    </li>
                    <li>
                        <p class="textSection">
                            Shower Valve Repair, Installation &amp; Replacement
                        </p>
                    </li>
                    <li>
                        <p class="textSection">
                            Hose Bib Repair, Installation &amp; Replacement
                        </p>
                    </li>
                    <li>
                        <p class="textSection">
                            Main Water Line Shut off valve replacement, pressure valves, vaccum breakers.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="aboutcolumn" style=" float:right;">
                <p class="textSection" style="color:#f47503; font-size:42px; font-weight:bold;">Phone:</p>
                <ul><li><a href="tel:+16028210001"><img src="~/Images/phoneIcon.png" style="width:32px;" /></a><a href="tel:+16028210001" style="color:black; font-size:24px;">602-821-0001</a></li></ul>
                <p class="textSection" style="color:#f47503; font-size:42px; font-weight:bold;">Email:</p>
                <ul><li><a style="font-size:24px; color:black;" href="mailto:Bisman142@yahoo.com">Bisman142@yahoo.com </a></li></ul>
                <p class="textSection" style="color:#f47503; font-size:42px; font-weight:bold;">Address:</p>
                <ul>
                    <li>
                        <p class="textSection" style="text-indent:0px; font-size:24px;"><u>Servicing Maricopa County</u></p>
                    </li>
                </ul>
            </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.790799398322!2d-112.03454268430501!3d33.48079698076518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b0d9102202041%3A0x15a820d1d2834341!2sStandard+Plumbing+Supply!5e0!3m2!1sen!2sus!4v1521313960853" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
