@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
    <meta name="description" content="Bishop Fine Plumbing specializes in full service water heater repair, replacement and installation. We proudly service the Greater Phoenix area including Mesa, Gilbert, Scottsdale and Tempe.">
    <meta name="keywords" content="water heater replacement, Water Heater Leaking, water heater installation, water heater repair, plumber, plumbing, plumber near me ">
    <meta name="author" content="Taylor Bishop">
}
<style>
    #body {
        text-align: center;
        background-image: url('Images/background1.jpg');
        background-size: cover;
        color: #f47503;
    }

    .li {
        font-size: 24px;
    }
</style>
<h1 class="textSection">Bishop Fine<span style="color:aqua;"> Plumbing</span></h1>

<h2><i>5 Star Plumbing with 40+ years of service experience!</i></h2>
<h1 class="textSection">Water Heater &amp; Garbage Disposal Experts</h1>
<hr />
<div>

    <div style="width:100%; overflow-x:scroll;">
        <table align="center" style="width:100%; ">
            <tr>
                <td>
                    <a href="https://www.thumbtack.com/az/buckeye/plumbing/plumbing-services"><img src="~/Images/reviews badge.PNG" alt="reviews badge" style="width:192px; height:100px;" /></a>
                </td>
                <td>
                    <a href="https://www.thumbtack.com/az/buckeye/plumbing/plumbing-services"><img src="~/Images/Top-Pro-Badge2018.jpg" alt="Top-Pro-Badge2018" style="width:192px;" /></a>
                </td>
                <td>
                    <a href="https://www.thumbtack.com/az/buckeye/plumbing/plumbing-services"><img src="~/Images/Top-Pro-Badge2017.jpg" alt="Top-Pro-Badge2017" style="width:192px;" /></a>
                </td>
                <td>
                    <a href="https://www.thumbtack.com/az/buckeye/plumbing/plumbing-services"><img src="~/Images/Top-Pro-Badge2016.png" alt="Top-Pro-Badge2016" style="width:192px;" /></a>
                </td>
                <td>
                    <a href="https://www.thumbtack.com/az/buckeye/plumbing/plumbing-services"><img src="~/Images/Top-Pro-Badge2015.png" alt="Top-Pro-Badge2015" style="width:192px; height:192px;" /></a>
                </td>
                <td>
                    <a class="widget ng-scope" ng-href="https://www.thumbtack.com/az/buckeye/plumbing/plumbing-services" target="_blank" href="https://www.thumbtack.com/az/buckeye/plumbing/plumbing-services"> <img style="height: 192px;width: 192px;" ng-src="https://static.thumbtackstatic.com/media/pages/profile/standard-widgets/pro-svg/orange/2013.svg" src="https://static.thumbtackstatic.com/media/pages/profile/standard-widgets/pro-svg/orange/2013.svg"></a>
                    <script src='https://www.thumbtack.com/profile/widgets/scripts/?service_id=NG1M$3eHO0fJfw&widget_id=profile'></script>
                </td>
            </tr>
        </table>
    </div>





    @*review widget*@

</div>
<hr />
<br /><br />
<ul style="text-align:left">
    <li style="font-size:24px;">Never a "Trip charge"</li>
    <li style="font-size:24px;">Never a "Minimum Hourly Charge"</li>
    <li style="font-size:24px;">Never a "Service Fee"</li>
    <li style="font-size:24px;">Never a "Dispatch Charge"</li>
    <li style="font-size:24px;">Never a "Over Time Charge"</li>
    <li style="font-size:24px;">Never a "After Hours Charge"</li>
    <li style="font-size:24px;">No Hidden "Mickey Mouse" Charges</li>
    <li style="font-size:24px;">Only Flat Rate Job Pricing</li>
</ul>
<br />
@*<div id="wpac-review"></div>*@
<script type="text/javascript">
    wpac_init = window.wpac_init || [];
    wpac_init.push({ widget: 'Review', id: 10308 });
    (function () {
        if ('WIDGETPACK_LOADED' in window) return;
        WIDGETPACK_LOADED = true;
        var mc = document.createElement('script');
        mc.type = 'text/javascript';
        mc.async = true;
        mc.src = 'https://embed.widgetpack.com/widget.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
    })();
</script>


<h1 style="text-align:center;">Doesn't Your Home Deserve A Trained <span style="color:#f47503;"><u>Licensed Journeyman Plumber?</u></span></h1>
<h2 style="text-align:center;">Bishop Fine Plumbing Service, is a top tier full service plumbing company dedicated to Phoenixs' finest residents.</h2>



<div style="width:100%; display:inline-flex;">
    <div style="width:33%;">
        <a href="~/WaterHeaters">
            <img src="~/Images/Water-Heater2.png" alt="Water Heater Repair Replacement Installation" style="width:100%; border: 2px solid #ccc;background-color: #eee;
    border-radius: 5px; max-height:250px; max-width:500px;" />
        </a>
    </div>
    <div style="width:33%;">
        <a href="~/GarbageDisposals">
            <img src="~/Images/Garbage-Disposal2.png" alt="Garbage Disposal Repair Replacement Installation" style="width:100%; border: 2px solid #ccc;background-color: #eee;
max-height:250px; max-width:500px; border-radius: 5px;" />
        </a>
    </div>
    <div style="width:33%;">
        <a href="~/Other">
            <img src="~/Images/OtherServices2.jpg" alt="Other Bishop Fine Plumbing Services" style="width:100%; border: 2px solid #ccc;background-color: #eee;
max-height:250px; max-width:500px; border-radius: 5px;" />
        </a>
    </div>

</div>
<br />
<div style="width:100%; display:inline-flex;">
    <div style="width:33%;">
        <a href="~/Contact">
            <img src="~/Images/phonebackground.jpeg" alt="Contact Bishop Fine Plumbing" style="width:100%; border: 2px solid #ccc;background-color: #eee;
max-height:250px; max-width:500px; border-radius: 5px;" />
        </a>
    </div>

    <div style="width:33%;">
        <a href="~/About">
            <img src="~/Images/About Us.jpeg" alt="About Bishop Fine Plumbing Water Heater & Garbage Disposal repair replacement installation" style="width:100%; border: 2px solid #ccc;background-color: #eee;
max-height:250px; height:100%; max-width:500px; border-radius: 5px;" />
        </a>
    </div>

    <div style="width:33%;">
        <a href="~/FAQ">
            <img src="~/Images/FAQ.jpeg" alt="Frequently Asked Questions Bishop Fine Plumbing" style="width:100%; border: 2px solid #ccc;background-color: #eee;
max-height:250px; max-width:500px; border-radius: 5px;" />
        </a>
    </div>
</div>
    <div>
        <div class="widget ng-scope" id="tt-review-widget-one" style="width:100%; "> <img ng-src="https://static.thumbtackstatic.com/media/logos/thumbtack/wordmark.svg" alt="Thumbtack" src="https://static.thumbtackstatic.com/media/logos/thumbtack/wordmark.svg"> <div id="tt-dynamic"> <div class="tt-left"> <img src="https://static.thumbtackstatic.com/media/primo/icons/user/50x50.png"></div><div class="tt-right"> <div class="tt-name">Kris L.</div> <div class="tt-stars"> <img src="https://static.thumbtackstatic.com/media/pages/profile/standard-widgets/review-widget/orange_star.svg"> <img src="https://static.thumbtackstatic.com/media/pages/profile/standard-widgets/review-widget/orange_star.svg"> <img src="https://static.thumbtackstatic.com/media/pages/profile/standard-widgets/review-widget/orange_star.svg"> <img src="https://static.thumbtackstatic.com/media/pages/profile/standard-widgets/review-widget/orange_star.svg"> <img src="https://static.thumbtackstatic.com/media/pages/profile/standard-widgets/review-widget/orange_star.svg">  <span>14d ago</span> </div> <p> Showed up on time and very responsive to questions. Was in and out in like 20 mins. </p> <a target="_blank" href="https://www.thumbtack.com/az/buckeye/plumbing/plumbing-services">See all reviews</a></div><br> </div> </div>
        <script src='https://www.thumbtack.com/profile/widgets/scripts/?service_id=NG1M$3eHO0fJfw&widget_id=review&type=one'></script>
    </div>
