@{
    Page.Title = "Title goes here";
    Layout = "~/_SiteLayout.cshtml";
    <meta name="description" content="Bishop Fine Plumbing specializes in full service garbage disposal repair, replacement and installation. We proudly service the Greater Phoenix area including Mesa, Gilbert, Scottsdale and Tempe. Call now at (602) 821-0001">
    <meta name="keywords" content="garbage disposal leaking, garbage disposal humming, garbage disposal repair, garbage disposal cleaners, garbage disposal installion, garbage dispoal not working, garbage disposal replacement, garbage disposal clogged, garbage disposal reviews, garbage disposal ">
    <meta name="author" content="Taylor Bishop">
}
<style>
    #body {
        background-image: url('Images/garbagedisposals.jpeg');
        background-size:cover;
        color: black;
        text-align: center;
        font-size: 24px;
    }

        #body h1, h2 {
            color: #f47503;
        }

    table.tables td {
        text-align: left;
        padding: 0px 0px 0px 0px;
    }
</style>
<h1 class="textSection" style="font-family:'Palatino Linotype'">Our Garbage Disposals</h1>
<hr />

    <div style="overflow-x:auto; ">
        <h1 style="text-align:center;">Garbage Disposal Pricing & Services</h1>
        <table class="tables" align="left" style="width:100%;">
            <tr>
                <th style="text-align:left;">
                    Service/Item
                </th>
                <th style="text-align:left;">Preview</th>
                <th style="text-align:left;">
                    Price
                </th>
            </tr>
            <tr>
                <td>1/3 horsepower standard</td>
                <td></td>
                <td style="color: #17f09e;font-size:30px;">$140</td>

            </tr>
            <tr>
                <td>1/3 horsepower badger</td>
                <td><img src="~/Images/12hpDisposal.jpg" alt="1/3 Horsepower Garbage Disposal repair, installation, replacement" style="width:100%; max-height:256px; max-width:128px;" /></td>
                <td style="color: #17f09e;font-size:30px;">$155</td>

            </tr>
            <tr>
                <td>1/2 horsepower standard</td>
                <td></td>
                <td style="color: #17f09e;font-size:30px;">$160</td>

            </tr>
            <tr>
                <td>1/2 horsepower badger</td>
                <td><img src="~/Images/12hpDisposal.jpg" alt="1/2 Horsepower Garbage Disposal repair, installation, replacement" style="width:100%; max-height:256px; max-width:128px;" /></td>
                <td style="color: #17f09e;font-size:30px;">$175</td>

            </tr>
            <tr>
                <td>Installation of your garbage disposal</td>
                <td></td>
                <td style="color: #17f09e;font-size:30px;">$75</td>

            </tr>
            <tr>
                <td>Service of your garbage disposal</td>
                <td></td>
                <td style="color: #17f09e;font-size:30px;">$50</td>

            </tr>
        </table>

    </div>
