@{
    /**/

    Page.Title = "Our Other Plumbing Services";
    Layout = "~/_SiteLayout.cshtml";
                <meta name="description" content="Bishop Fine Plumbing specializes in full service garbage disposal repair, replacement and installation. We proudly service the Greater Phoenix area including Mesa, Gilbert, Scottsdale and Tempe. Call now at (602) 821-0001">
                <meta name="keywords" content="garbage disposal leaking, garbage disposal humming, garbage disposal repair, garbage disposal cleaners, garbage disposal installion, garbage dispoal not working, garbage disposal replacement, garbage disposal clogged, garbage disposal reviews, garbage disposal ">
                <meta name="author" content="Taylor Bishop">
}
<style>
    #body {
        background-image: url('Images/OtherServices.jpeg');
        background-size: cover;
        color: black;
        text-align: center;
        font-size: 24px;
    }

        #body h1, h2 {
            color: #f47503;
        }

    table.tables td {
        text-align: left;
        padding: 0px 0px 0px 0px;
        color: #f47503;
    }
</style>
                <h1 class="textSection" style="font-family:'Palatino Linotype'">Our Other Services</h1>
<hr/>
<div style="overflow-x:auto; background:rgba(0,0,0,.6);">

    <h1 style="text-align:center;">Our Other Pricing & Services</h1>
    <table class="tables" align="left" style="width:100%;">
        <tr>
            <th style="text-align:center;">
                Service/Item
            </th>
            <th>
                Price
            </th>
        </tr>
        <tr>
            <td style="text-align:center;">Dishwasher Install</td>
            <td style="color: #17f09e;font-size:30px;">$75</td>

        </tr>
        <tr>
            <td style="text-align:center;">Copper Pipe Repair</td>
            <td style="color: #17f09e;font-size:30px;">$125+</td>

        </tr>
        <tr>
            <td style="text-align:center;">Faucet Installation</td>
            <td style="color: #17f09e;font-size:30px;">$75</td>

        </tr>
        <tr>
            <td style="text-align:center;">Kitchen Faucet Installation</td>
            <td style="color: #17f09e;font-size:30px;">$75</td>

        </tr>
        <tr>
            <td style="text-align:center;">Faucet Repairs</td>
            <td style="color: #17f09e;font-size:30px;">$75</td>

        </tr>
        <tr>
            <td style="text-align:center;">Main Line Valve Replacement</td>
            <td style="color: #17f09e;font-size:30px;">$125+</td>

        </tr>
        <tr>
            <td style="text-align:center;">Shower Valve Repair</td>
            <td style="color: #17f09e;font-size:30px;">$75</td>

        </tr>
        <tr>
            <td style="text-align:center;">Tub Unclog</td>
            <td style="color: #17f09e;font-size:30px;">$50</td>

        </tr>
        <tr>
            <td style="text-align:center;">Toilet Problems</td>
            <td style="color: #17f09e;font-size:30px;">$75</td>

        </tr>
        <tr>
            <td style="text-align:center;">
                Toilet Running Water
                (All working parts included)
            </td>
            <td style="color: #17f09e;font-size:30px;">$75</td>

        </tr>
        <tr>
            <td style="text-align:center;">Toilet Replacement</td>
            <td style="color: #17f09e;font-size:30px;">$75</td>

        </tr>
        <tr>
            <td style="text-align:center;">
                Toilet Rocking
                (IE: Not Secured)
            </td>
            <td style="color: #17f09e;font-size:30px;">$75-$125</td>

        </tr>
        <tr>
            <td style="text-align:center;">
                Toilet Clog
                (*We do not offer sewer line rootor service)
            </td>
            <td style="color: #17f09e;font-size:30px;">$50</td>

        </tr>
    </table>
    </div>
    <p>
        <h2 style="text-align:center">
            *Listed Prices do not include sales tax.<br />
            *Listed Prices do Include free removal and disposal of old water heaters
        </h2>
    </p>
