@{
    Page.Title = "Water Heaters";
    Layout = "~/_SiteLayout.cshtml";
    <meta name="description" content="When your water heater begins to leak, you have to replace it fast. We'll install a new gas or electric water heater next day. Call Bishop Fine Plumbing (602) 821-0001. We proudly service the greater Phoenix area including Mesa, Gilbert, Scottsdale and Tempe. Call now at (602) 821-0001">
    <meta name="keywords" content="water heater replacement, water heater repair, water heater replacement cost, water heater leaking, water heater timer, water heater installation, water heater pan, water heater maintanenance, water heater, 50 gallon water heater, 40 gallon water heater">
    <meta name="author" content="Taylor Bishop">}

<style>
    #body {
        background-image: url('Images/waterheaterbackground1.jpeg');
        color: #f47503;
        text-align: center;
        font-size: 24px;
    }

        #body h1, h2 {
            color: #f47503;
        }

    table.tables td {
        text-align: center;
        padding: 0px 0px 0px 0px;
    }
</style>
<h1 class="textSection" style="font-family:'Palatino Linotype'">Our Water Heaters</h1>
<hr/>
<div style="text-align:center; overflow-x:scroll; background:rgba(0,0,0,.6);">
    <h1 style="text-align:center;">Find The Right Water Heater For You!</h1>
    <table class="tables" align="center" style="width:100%;">
        <tr>
            <th style="text-align:center;">
                Family Size
            </th>
            <th style="text-align:center;">
                Electric
            </th>
            <th style="text-align:center;">
                Gas
            </th>
        </tr>
        <tr>
            <td>1-3 People:</td>
            <td>40 Gallon</td>
            <td>40 Gallon</td>
        </tr>
        <tr>
            <td>3-4 People:</td>
            <td>50 Gallon</td>
            <td>40 Gallon</td>
        </tr>
        <tr>
            <td>5+  People:</td>
            <td>80 Gallon</td>
            <td>50 Gallon/75 Gallon</td>
        </tr>
    </table>
    <hr/>
    <h1 style="text-align:center;">Rheem Professional Grade Electric Water Heaters!</h1>
    <hr />
    <table class="tables" align="center" style="width:100%;  overflow-x:scroll;">
        <tr>
            <th style="text-align:center;">Model</th>
            <th style="text-align:center;">Preview </th>
            <th style="text-align:center;">Price (Labor Included)</th>
            <th style="text-align:center;">Dimensions</th>
            <th style="text-align:center;">Details</th>
        </tr>
        <tr>
            <td>40 Electric Gallon-Tall<br /><br/>MODEL: PROE40 T2 RH95</td>
            <td>
                <img src="/Images/Rheem_Classic_Plus_Standard_Tal.png" alt="Rheem Classic Plus Standard Tall Electric Water Heater repair, installation, replacement" style="width:100%; max-height:256px; max-width:128px;" />
            </td>
            <td style="color: aqua; font-size:30px;">$600</td>
            <td>Height: 60-3/4"<br />Diameter: 19-1/4"</td>
            <td>
                <a style="color:#f47503" href="http://www.rheem.com/product/residential-electric-water-heaters-professional-classic-series-standard-electric">More Details</a>
            </td>
        </tr>
        <tr>
            <td>40 Electric Gallon-Medium<br /><br />MODEL: PROE40 M2 RH95</td>
            <td>
                <img src="/Images/Rheem_Classic_Plus_Standard_Tal.png" alt="Rheem Classic Plus Standard Tall Electric Water Heater repair, installation, replacement" style="width:100%; max-height:256px; max-width:128px;" />
            </td>
            <td style="color: aqua;font-size:30px;">$600</td>
            <td>Height: 40-1/4"<br />Diameter: 20-1/4"</td>
            <td>
                <a style="color:#f47503" href="http://www.rheem.com/product/residential-electric-water-heaters-professional-classic-series-standard-electric">More Details</a>
            </td>
        </tr>
        <tr>
            <td>40 Electric Gallon-Short <br /><br />MODEL: PROE40 S2 RH95</td>
            <td>
                <img src="/Images/Rheem_short.png"  alt="Rheem short Electric Water Heater repair, installation, replacement"style="width:100%; max-height:256px; max-width:128px;" />
            </td>
            <td style="color: aqua;font-size:30px;">Call For Pricing <a href="tel:+16028210001"><img src="~/Images/phoneIcon.png" style="width:32px;" /></a></td>
            <td>Height: 58-5/8"<br />Diameter: 20-1/4"</td>
            <td>
                <a style="color:#f47503" href="http://www.rheem.com/product/residential-electric-water-heaters-professional-classic-series-standard-electric">More Details</a>
            </td>
        </tr>
        <tr>
            <td>50 Electric Gallon-Tall<br /><br />MODEL: PROE50 T2 RH95</td>
            <td>
                <img src="/Images/Rheem_Classic_Plus_Standard_Tal.png" alt="Rheem Classic Plus Standard Tall Electric Water Heater repair, installation, replacement" style="width:100%; max-height:256px; max-width:128px;" />
            </td>
            <td style="color: aqua;font-size:30px;">$675</td>
            <td>Height: 31-1/2"<br />Diameter: 23"</td>
            <td>
                <a style="color:#f47503" href="http://www.rheem.com/product/residential-electric-water-heaters-professional-classic-series-standard-electric">More Details</a>
            </td>
        </tr>
        <tr>
            <td>50 Electric Gallon-Medium<br /><br />MODEL: PROE50 M2 RH95</td>
            <td>
                <img src="/Images/Rheem_Classic_Plus_Standard_Tal.png" alt="Rheem Classic Plus Standard Tall Electric Water Heater repair, installation, replacement" style="width:100%; max-height:256px; max-width:128px;" />
            </td>
            <td style="color: aqua;font-size:30px;">$675</td>
            <td>Height: 48"<br />Diameter: 23"</td>
            <td>
                <a style="color:#f47503" href="http://www.rheem.com/product/residential-electric-water-heaters-professional-classic-series-standard-electric">More Details</a>
            </td>
        </tr>
        <tr>
            <td>50 Electric Gallon-Short<br /><br />MODEL: PROE50 S2 RH95</td>
            <td>
                <img src="/Images/Rheem_short.png"  alt="Rheem Short Electric Water Heater repair, installation, replacement" style="width:100%; max-height:256px; max-width:128px;" />

            <td style="color: aqua;font-size:30px;">Call For Pricing <a href="tel:+16028210001"><img src="~/Images/phoneIcon.png" style="width:32px;" /></a></td>
            <td>Height: 32"<br />Diameter: 26-1/4"</td>
            <td>
                <a style="color:#f47503" href="http://www.rheem.com/product/residential-electric-water-heaters-professional-classic-series-standard-electric">More Details</a>
            </td>
        </tr>
        <tr>
            <td>75 Electric Gallon-Marathon<br /><br />MODEL: MR75245</td>
            <td>
                <img src="/Images/Marathon.png"  alt="Rheem Marathon Electric Water Heater repair, installation, replacement" style="width:100%; max-height:256px; max-width:128px;" />
            </td>
            <td style="color: aqua;font-size:30px;">Call For Pricing <a href="tel:+16028210001"><img src="~/Images/phoneIcon.png" style="width:32px;" /></a></td>
            <td>Height: 66-1/4" <br />Diameter: 28-1/4"</td>
            <td><a style="color:#f47503" href="http://www.rheem.com/product/Residential-Electric-Water-Heaters-Marathon">More Details</a></td>
        </tr>
    </table>
    <hr />
    <h1 style="text-align:center;">Rheem Professional Grade Gas Water Heaters!</h1>
    <hr />
    <table class="tables" align="center" style="width:100%;">
        <tr>
            <th style="text-align:center;">Model</th>
            <th style="text-align:center;">Preview</th>
            <th style="text-align:center;">Price (Labor Included)</th>
            <th style="text-align:center;">Dimensions</th>
            <th style="text-align:center;">Details</th>
        </tr>
        <tr>
            <td>40 Gallon Gas - One Size<br /><br />MODEL: PROG40-38N RH62</td>
            <td>
                <img src="/Images/Rheem_Classic_Standard_Tall_Gas.png" alt="Rheem Classic Plus Standard Tall Gas Water Heater repair, installation, replacement" style="width:100%; max-height:256px; max-width:128px;" />
            </td>
            <td style="color: aqua;font-size:30px;">$700</td>
            <td>Height: 58-1/2"<br />Diameter: 19"</td>
            <td>
                <a style="color:#f47503" href="http://www.rheem.com/product/residential-gas-water-heaters-professional-classic-series-atmospheric">More Details</a>
            </td>
        </tr>
        <tr>
            <td>50 Gallon Gas  - One Size<br /><br />MODEL: PROG50-38N RH60</td>
            <td>
                <img src="/Images/Rheem_Classic_Standard_Tall_Gas.png"  alt="Rheem Classic Plus Standard Tall Gas Water Heater repair, installation, replacement"style="width:100%; max-height:256px; max-width:128px;" />
            </td>
            <td style="color: aqua;font-size:30px;">$800</td>
            <td>Height: 58-3/8"<br />Diameter: 20-1/2"</td>
            <td>
                <a style="color:#f47503" href="http://www.rheem.com/product/residential-gas-water-heaters-professional-classic-series-atmospheric">More Details</a>
            </td>
        </tr>
        <tr>
            <td>75 Gallon Gas  - One Size<br /><br />MODEL: PROG75-76NRH</td>
            <td><img src="/Images/Rheem_Classic_Standard_Tall_Gas.png"  alt="Rheem Classic Plus Standard Tall Gas Water Heater repair, installation, replacement" style="width:100%; max-height:256px; max-width:128px;" /></td>
            <td style="color: aqua;font-size:30px;">Call for pricing <a href="tel:+16028210001"><img src="~/Images/phoneIcon.png" style="width:32px;" /></a></td>
            <td>Height: 60"<br />Diameter: 26-1/4"</td>
            <td>
                <a style="color:#f47503" href="http://www.rheem.com/product/residential-gas-water-heaters-professional-classic-series-atmospheric">More Details</a>
            </td>
        </tr>
    </table>
    <hr />
    <h1 style="text-align:center;">Extra Water Heater Services!</h1>
    <hr />
    <table class="tables" align="center" style="width:100%;">
        <tr>
            <th style="text-align:center;">Extras</th>
            <th style="text-align:center;">Price (Labor Included)</th>
        </tr>
        <tr>
            <td>Water Heater Pan</td>
            <td style="color: aqua;font-size:30px;">$25</td>
        </tr>
        <tr>
            <td>Water Heater Pan With Plumbing To Floor</td>
            <td style="color: aqua;font-size:30px;">$35</td>
        </tr>
        <tr>
            <td>Water Heater Pan With Plumbing To Outside</td>
            <td style="color: aqua;font-size:30px;">$50</td>
        </tr>
        <tr>
            <td>New Flex Lines & Ball Shut Off Valve</td>
            <td style="color: aqua;font-size:30px;">$50</td>
        </tr>
    </table>
    <p>
        <h2 style="text-align:center">
            *Listed Prices do not include sales tax.<br />
            *Listed Prices do Include free removal and disposal of old water heaters
        </h2>
    </p>


    <hr />
    <h1 class="textSection">Water Heater Information</h1>
    <hr />
    <p class="textSection" style="text-align:left; background:rgba(0,0,0,.9);">
        Your water heater is one of the most relied-on parts of your plumbing system. There are few things as uncomfortable as waking up to a cold shower! But there are other signs your water heater may need servicing. <br /><br />
        If your water looks rusty or has an odor, you hear rumbling, popping or whining noises, or if you see water leaking around the base of the water heater, it’s time to call for help.<br /><br />
        Your local Bishop Fine Plumbing® plumbing expert will make a thorough examination and explain the issue and your repair options.<br /><br />
        If replacing your equipment is the most cost-effective solution, our technicians will walk you through the various types of water heaters and the features of each so that you can make the selection that’s right for you.<br /><br />
        <br /><br />
        <u>Options include:</u><br /><br />
        <br /><br />
        Conventional tank water heaters are powered by either electricity or natural gas. Tanks range in capacity from 20 to 100 gallons.<br />
        <br /><br />
        Please remember that water heaters are not a DIY home owner task.  Electricity, gas and water are not for the inexperienced. Most communities even require a permit & inspection.<br /><br />
        Your Bishop Fine Plumbing plumber can address the considerable safety and code issues involved and protect your home and family by ensuring you have a safe, reliable appliance.<br /><br />
        <br /><br />
        Regular maintenance of your water heater can prevent future issues. Call your local Bishop Fine Plumbing Plumbing® to schedule annual maintenance.<br /><br />
        Our expert plumbers will make a careful check of your water heater to make sure it’s safe and in good working order.<br /><br />
        Whether it’s a water heater repair, replacement and installation, or maintenance service, the Bishop Fine Plumbing team is here to serve your needs. Give us a call today.<br /><br />


    <p />

</div>